.main_container{
    display: flex;
    width: 100%;
    margin-top: 1rem;

    
  
    .main{
        width: 18rem;
        margin-top: 2rem;
       

        .maincontainer,.maincontainerC{
            display: flex;
            flex-direction: column;
            margin: 1rem;
            border-radius: 0.5rem;
            padding: 1rem;
            color: white;
            height: 100%;
            text-align: center;
            background-image: linear-gradient(195deg,#42424a,#191919);
            .material{
                font-weight: bold;
                padding: 0.6rem 0;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .cancel{
                    display: none;
                }
                @media screen and (max-width:1200px) {
                    .cancel{
                        display: block;
                    }
                }
            }
            .main_side_nav_main{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                
        .main_side_nav{
            display: flex;
            max-height: 70%;
            overflow-y: scroll;
            flex-direction: column;
            margin-top: 2rem;
             margin-bottom: 10rem;
            line-height: 3rem;
            text-align: left;
            li {
                list-style: none;
            }

            ul {
                list-style: none;
                padding: 0;
                li{
                list-style:none;
                font-size: 1rem;
                cursor: pointer;
                margin: 0.5rem 0;
                padding-left: 1rem;
                &:hover{
                    background-color:  rgb(151, 142, 144);
                    border-radius: 0.5rem;
                }
                &:first-child{
                    background-color:  rgb(241, 81, 108);
                    border-radius: 0.5rem;
                }
                &:focus{
                    background-color: rgb(241, 81, 108);
                }
                }
            }
        }
        ::-webkit-scrollbar {
            width: 2px;
          }
          
          
          ::-webkit-scrollbar-track {
            background: rgb(37, 34, 34);
          }

         
          ::-webkit-scrollbar-thumb {
            background: #888; 
          }
    }
        .upgrade{
            background: none;
            color: white;
            background-color: rgb(230, 27, 61);
            border-radius: 5px;
            font-size: 0.8rem;
            border: none;
            padding: 1rem;
        
        }
        }
        @media screen and (max-width:1200px) {
                .maincontainerC{
                display: none;
                }
            }
        // .maincontainerC{
        //     display: block;
        //     transition: 300s;
        // }
        // @media screen and (max-width:1200px) {
        //     .maincontainerC{
        //     display: none;
        //     }
        // }
    }
    @media screen and (max-width:1200px) {
        .main{
            position: absolute;
            top: 0;
            // width: 30%;
            left: 0;
           
        }
    }

    .CardMulti{
        display: flex;
        width: 55%;
        height: 50%;
        gap:3rem;
    }
    @media screen and (max-width:1200px) {
        .CardMulti{
           flex-direction: column;
           width: 100%;
           margin: auto;
           justify-content: center;
           padding-left: 10rem;
        }
    }
    .cards{
        width: 80%;
        nav{
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;

            .leftContains{
                width: 20%;
                line-height: 1.9;
                .inner_container{
                    font-size: 0.9rem;
                span:first-child{
                    color: #717272;
                    margin-right: 1rem;
                }
               }
               h6{
                   font-weight: 700;
                   color: #344767;
               }
            }

          .rightContainer{
              width: 30%;
              display: flex;
              align-items: center;
              justify-content: flex-end;
              color: #717272;
              input{
                  width: 40%;
                  
                  font-size: 0.9rem;
                  background: none;
                  border: 1px solid #d2d6da;
                  border-radius: 0.375rem;
                  border-top-left-radius: 0.375rem!important;
                  border-bottom-left-radius: 0.375rem!important;
                  padding: 0.625rem 0.75rem!important;
                  line-height: 1.3!important;
              }
              .icon_main{
                  width: 50%;
                  ul{
                  width: 100%;
                  display: flex;
                  list-style: none;
                // column-gap: 1rem;
                  align-items: center;
                  padding-left: 0;
                  li{
                      padding: 0 0.6rem ;
                  }
                  .menu_icon{
                    display: none;
                }
              .sign_in{
                  
                  font-size: 0.9rem;
                  
                  display: flex;
                  align-items: center;
                 a{
                     padding: 0 0.5rem;
                 }
                   
                
               
              }
             
            @media screen and (max-width:1200px) {
               .icons{width: 30%;
                img{
                    width: 25%;
                    height: 20%;
                    margin-left: 0.5rem;
                    
                }
            }
            }
        }
    }
          }
        
        }
        @media screen and (max-width:1200px) {
            nav{
                flex-direction: column;
                .leftContains{
                    width: 100%;
                }
                .rightContainer{
                    width: 100%;
                    justify-content: space-between;
                    .icon_main{
                        justify-content: end;
                        ul{
                            justify-content: end;
                            .menu_icon{
                                display: block;
                              
                            }
                        }
                        .sign_in{
                            a{
                                display: none;
                            }
                        }  
                    }
                }
            }
        }
        .CardHolder{
            display: flex;
            gap:2rem;
            width: auto;
            @media screen and (max-width:600px){
                flex-direction: column;
                width: 100%;
            }
            @media screen and (max-width:768px){
                width: 100%;
                display: block;

            }
            .box {
                display: flex;
                flex-direction: column;
                .main_box {
                  margin-top: 2rem;
                  padding: 1rem 1rem;
                  width: auto;
                  border-radius: 10px;
                  background: transparent;
                  background-color: white;
                  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                  .main_top {
                    padding: 1rem 0rem;
                  }
                  .amount {
                    text-align: right;
                    font-weight: bolder;
                    font-size: 1.5rem;
                    color: rgb(39, 37, 37);
                  }
                  .bottom_box {
                    padding: 1rem 0rem;
                    .last_text {
                      color: rgb(56, 53, 53);
                      font-weight: 200;
                      font-size: 1rem;
                    }
                  }
                  .top_box {
                    display: flex;
                    width: 100%;
                    .box_img {
                      width: fit-content;
                      margin: 0 2px;
                      background-color: black;
                      height: 50%;
                      padding: 10px;
                      border-radius: 5px;
                      margin-top: -3rem;
                    }
                    .money {
                      font-size: 0.9rem;
                      width: 70%;
                      text-align: right;
                      font-weight: 200;
                    }
                  }
            
                  .percentage {
                    color: green;
                  }
                }
              }
        }
        
    }
    @media screen and (max-width:1200px){
        .cards{
            width: 100%;
        }
    }
}
@media screen and (max-width:1200px){
.main_container{
    flex-direction: column;
    width: 85%;
    margin: 1rem auto;
}
}